{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block content %}
<ul>
  <li>
    <a href="/builds/running">running</a>
  </li><li>
    <a href="/builds/build">build</a>
  </li><li>
    <a href="/builds/update">update</a>
  </li><li>
    <a href="/builds/deploy">deploy</a>
  </li><li>
    <a href="/builds/disabled">disabled</a>
  </li>
</ul>
{% end %}
