{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}build - F-Droid Monitor{% end %}

{% block content %}
<h2>build run</h2>

<h3>last-modified</h3>
<p>{{ lastModified }}</p>

<div class="commandLine">
  <h3>command line</h3>
  <code>
    {{ cmd }}
  </code>
</div>

<div class="started">
  <h3>start time</h3>
  <p>{{ startTime }}</p>
</div>

<div class="stopped">
  <h3>end time</h3>
  <p>{{ endTime }}</p>
</div>

<div class="fdroiddata">
  <h3>fdroiddata</h3>
  <a href="https://gitlab.com/fdroid/fdroiddata/-/tree/{{data["fdroiddata"]["commitId"]}}">fdoriddata@{{ data["fdroiddata"]["commitId"][:8] }}</a>
  {% if data["fdroiddata"]["isDirty"] %}
    (dirty!)
  {% end %}
</div>

<div class="fdroidserver">
  <h3>fdroidserver</h3>
  <a href="https://gitlab.com/fdroid/fdroidserver/-/tree/{{data["fdroidserver"]["commitId"]}}">fdoridserver@{{ data["fdroidserver"]["commitId"][:8] }}</a>
  {% if data["fdroidserver"]["isDirty"] %}
    (dirty!)
  {% end %}
</div>

<h2>Successful builds</h2>

<div class="successfulBuilds">
  <h3>numer of successful builds</h3>
  {{ len(data["successfulBuilds"]) }}
  <ul>
  {% for b in data["successfulBuilds"] %}
    <li>
      {{ b["id"] }}:{{ b["CurrentVersionCode"] }} - 
      <a href="https://f-droid.org/packages/{{ b["id"] }}">web</a> -
      <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/{{ data["fdroiddata"]["commitId"] }}/metadata/{{ b["id"] }}.yml">metadata</a> -
      <a href="/builds/log/{{ b["id"] }}/{{ b["CurrentVersionCode"] }}">log</a>
    </li>
  {% end %}
  </ul>
</div>

<h2>Failed builds</h2>

<div class="failedBuilds">
  {{ len(data["failedBuilds"]) }}
  <ul>
  {% for b in data["failedBuilds"] %}
    <li>
      {{ b[0] }}:{{ b[1] }} -
      <a href="https://f-droid.org/packages/{{ b[0] }}">web</a> -
      <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/{{ data["fdroiddata"]["commitId"] }}/metadata/{{ b[0] }}.yml">metadata</a> -
      <a href="/builds/log/{{ b[0] }}/{{ b[1] }}">log</a>
    </li>
  {% end %}
  </ul>
</div>

{% end %}
