{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-FileCopyrightText: 2020 Hans-Christoph Steiner <hans@eds.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}deploy - F-Droid Monitor{% end %}

{% block content %}
<h2>deploy</h2>

<h3>last-modified</h3>
<p>{{ lastModified }}</p>

<div class="commandLine">
  <h3>command line</h3>
  <code>
    {{ cmd }}
  </code>
</div>

<div class="started">
  <h3>start time</h3>
  <p>{{ startTime }}</p>
</div>

<div class="stopped">
  <h3>end time</h3>
  <p>{{ endTime }}</p>
</div>

<div class="fdroiddata">
  <h3>fdroiddata</h3>
  <a href="https://gitlab.com/fdroid/fdroiddata/-/tree/{{data["fdroiddata"]["commitId"]}}">fdroiddata@{{ data["fdroiddata"]["commitId"][:8] }}</a>
  {% if data["fdroiddata"]["isDirty"] %}
    (dirty!)
  {% end %}
</div>

<div class="fdroidserver">
  <h3>fdroidserver</h3>
  <a href="https://gitlab.com/fdroid/fdroidserver/-/tree/{{data["fdroidserver"]["commitId"]}}">fdroidserver@{{ data["fdroidserver"]["commitId"][:8] }}</a>
  {% if data["fdroidserver"]["isDirty"] %}
    (dirty!)
  {% end %}
</div>

{% end %}
