<!--
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block content %}
<h2>disabled builds</h2>

<ul>
{% for x in data["disabled"] %}
  <li>
    {{ x }} -
    <a href="https://gitlab.com/fdroid/fdroiddata/-/tree/master/metadata/{{ x }}.yml">metadata</a>
  </li>
{% end %}
</ul>
{% end %}
