{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}{% if err_title %}{{ err_title }}{% else %}Error{% end %} - F-Droid Monitor{% end %}

{% block content %}
<h2>{% if err_title %}{{ err_title }}{% else %}Error{% end %}</h2>

{% if err_text %}
<p>
  {{ err_text }}
</p>
{% end %}

{% if traceback %}
<code><pre>
{{ traceback }}
</pre></code>
{% end %}

<p>
  <a href="/">Back to F-Droid Monitor</a>
</p>

{% end %}
