{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}running - F-Droid Monitor{% end %}

{% block content %}
  <h2>running</h2>

  <h3>last-modified</h3>
  <p>{{ lastModified }}</p>

  <h2>command</h2>

  <code>{{ " ".join(data["commandLine"]) }}</code>

  <h3>start time</h3>
  <p>{{ startTime }}</p>

  <h2>fdroiddata version</h2>

  <a href="https://gitlab.com/fdroid/fdroiddata/-/tree/{{ data["fdroiddata"]["commitId"] }}">fdroiddata@{{ data["fdroiddata"]["commitId"][:8] }}</a>
  {% if data["fdroiddata"]["isDirty"] %}
    (dirty!)
  {% end %}

  <h2>fdroidserver version</h2>

  <a href="https://gitlab.com/fdroid/fdroidserver/-/tree/{{ data["fdroidserver"]["commitId"] }}">fdroidserver@{{ data["fdroidserver"]["commitId"][:8] }}</a>
  {% if data["fdroidserver"]["isDirty"] %}
    (dirty!)
  {% end %}

  {% if "successfulBuilds" in data %}
    <h2>successful builds</h2>
    {{ len(data["successfulBuilds"]) }}

    <ul>
    {% for build in data["successfulBuilds"] %}
      <li>
        {{ build["id"] }}:{{ build["CurrentVersionCode"] }} -
        <a href="https://f-droid.org/packages/{{build["id"]}}">web</a> -
        <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/{{ data["fdroiddata"]["commitId"] }}/metadata/{{ build["id"] }}.yml">metadata</a> -
        <a href="/builds/log/{{ build["id"] }}/{{ build["CurrentVersionCode"] }}">log</a>
      </li>
    {% end %}
    </ul>
  {% end %}

  {% if "failedBuilds" in data %}
    <h2>failed builds</h2>
    {{ len(data["failedBuilds"]) }}

    <ul>
    {% for build in data["failedBuilds"] %}
      <li>
        {{ build[0] }}:{{ build[1] }} -
        <a href="https://f-droid.org/packages/{{ build[0] }}">web</a> -
        <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/{{ data["fdroiddata"]["commitId"] }}/metadata/{{ build[0] }}.yml">metadata</a> -
        <a href="/builds/log/{{ build[0] }}/{{ build[1] }}">log</a>
      </li>
    {% end %}
    </ul>
  {% end %}

{% end %}
