{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}update - F-Droid Monitor{% end %}

{% block content %}
<h2>update</h2>

<h3>last-modified</h3>
<p>{{ lastModified }}</p>

<h3>start time</h3>
<p>{{ startTime }}</p>

<h3>end time</h3>
<p>{{ endTime }}</p>

<h3>command line</h3>
<code>{{ " ".join(data["commandLine"]) }}</code>

{% end %}
